@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Inter:wght@300&family=Poppins:wght@300&family=Raleway&family=Rubik&display=swap');

#topic{
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: Inter;
}